@import "bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: auto;
}

.error-msg-container,
#spinner-div {
  margin-bottom: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#website-header {
  margin-right: 2rem;
}

.theme-toggle,
#c-toggle,
#f-toggle {
  cursor: pointer;
}

@media (max-width: 576px) {
  #search-btn {
    width: 100%;
    margin-top: 0.5rem;
  }
  #search-input {
    width: 100%;
  }
}

footer {
  margin-top: auto;
}
